* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #e5e5e5;
}

/* -------------------- CODIGO DE LOGIN ---------------------- */
.form {
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(1,1,1,0.2);
  background-color: #fafafa;
  max-width: 400px;
  padding: 40px;
}

.title {
  color: #111111;
  margin-bottom: 20px;
  text-align: center;
}

input[type="text"],
input[type="password"] {
  background: none;
  border: 2px solid #e5e5e5;
  padding: 8px 16px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #727272;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: 2px solid #00f;
}


.generar {
  color: rgba(1,1,1,0.5);
  transition: .3s ease-in-out;
}

.generar:hover {
  color: #00f;
}

.generar:focus {
  outline: 2px solid #00f;
}

#login {
  background-color: rgb(74, 74, 194);
  color: #fafafa;
  outline: none;
  border: 0;
  height: 40px;
  padding: 0 20px;
  margin-top: 40px;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: .3s ease-in-out;
  box-shadow: 0px 8px 16px 0px rgba(74, 74, 194, 0.4);
}

#login:hover {
  background-color: #00f;
}

/* -------------------- CODIGO DE GENERACION CONTRASEÑA ---------------------- */
.label {
  display: block;
  margin-bottom: 4px;
}

.form-generar {
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(1,1,1,0.2);
  background-color: #fafafa;
  max-width: 600px;
  padding: 40px;
  position: relative;
}

#close {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-100%);
}